.Button {
  font-size: 20px;
  text-transform: uppercase;
  height: 57px;
  width: 350px;
  background-color: #1A3B7A;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  margin: 2.5px 0;

  &:hover {
    background-color: #081958;
    cursor: pointer;
  }

  &:focus {
    outline: 0;
    border: 2px solid #081958;
  }

  &:disabled {
    pointer-events: none;
    background-color: grey;
  }

  &--small {
    @extend .Button;

    width: 175px;
  }

  &--add {
    @extend .Button;

    background-color: #74BA00;

    &:hover {
      background-color: #529800;
    }

    &:focus {
      border: 2px solid #529800;
    }
  }

  &--delete {
    @extend .Button;

    background-color: #FF5916;

    &:hover {
      background-color: #DD3704;
    }

    &:focus {
      border: 2px solid #DD3704;
    }
  }
}
